.App {
  text-align: center;
  margin: 50px;
}

body {
  background-color: rgba(0, 0, 0, 0.719);
}

ul {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  color: rgb(245, 242, 242);
}

input,
button {
  font-weight: 800;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

input {
  background-color: rgba(179, 174, 164, 0.993);
  margin-bottom: 16px;
}

button {
  background-color: rgba(255, 99, 71, 0.527);
  cursor: pointer;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
  color: #fff;
}

button:active {
  background-color: #1f618d;
  border-color: #1f618d;
}

input:focus {
  outline: none;
}
